.bean-bckgrnd {
    position: fixed;
    width: 100%;
    bottom: -27vh;
    z-index: 100;
    right: -0vw;
    min-width: 1900px;
}

.falling-bean {
    width: 65px;
    position: fixed;
    z-index: 20;
    top: -10vh;
    right: -5vw;
    animation: falldown 9s linear 0s infinite;
}


@keyframes falldown {
    0% {
        top: -10vh;
        transform: rotate(0deg);
        right: -5vw;
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        top: 150vh;
        transform: rotate(720deg);
        right: 55vw;
    }
}


nav {
    color: #e8bb99;
    font-style: italic;
    font-size: 30px;
    height: 100%;
    z-index: 500;
    max-width: 475px;
    width: 30vw;
    min-width: 175px;
}

nav section {
    margin: 5px 0px 12px 10px;
}

nav section div {
    margin-top: 1px;
    margin-left: 5px;
    font-style: italic;
    font-size: 18px;
}

h1 {
    margin: 15px 10px;
    font-size: 40px;
}

.get-beans {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
}

#beans {
    position: relative;
    width: 60vw;
    margin: 5vh auto;
    z-index: 300;
    height: fit-content;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: 5px;
}

#displayHeader {
    width: inherit;
    text-align: center;
    color: rgb(88, 60, 60);
    font-style: italic;
    position: fixed;
    top: 1px;
    padding: 15px 1px 15px;
    background-color: rgba(241, 183, 111);
    z-index: 100;
    border-radius: 5px 5px 0 0;
}

#beans::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(80deg, rgb(5, 5, 5), rgb(32, 19, 12));
}

body::-webkit-scrollbar {
    display: none;
}

.bean-bttns {
    display: flex;
    background-color: none;
    justify-content: end;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    padding: 5px;
    cursor: default;
}



nav button,
.get-beans button,
.bean-bttns div,
#submit,
.confirmation-bttns div {
    margin-right: 15px;
    background-color: #e8bb99;
    color: rgb(88, 60, 60);
    font-weight: 550;
    font-size: 16px;
    border: 2px solid rgb(88, 60, 60);
    border-radius: 5px;
    padding: 4px 8px;
    width: fit-content;
    height: fit-content;
}

nav button:hover,
.get-beans button:hover,
.bean-bttns div:hover,
#submit:hover,
.confirmation-bttns div:hover {
    color: #e8bb99;
    background-color: rgb(88, 60, 60);
}

#display {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
    overflow-y: scroll;
    z-index: 500;
}

#display::-webkit-scrollbar {
    display: none;
}

.container {
    border: 4px solid rgb(249, 234, 216);
    width: 300px;
    height: 280px;
    margin: 10px 10px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(42, 42, 42);
    border-radius: 5%;
}


.backgrndImg {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.65;
}

.beanImg {
    position: absolute;
    width: inherit;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: 0.5s;
    filter: saturate(100%);
    height: 300px;
}

.beanvar {
    position: absolute;
    transition: 0.5s;
    color: rgb(88, 60, 60);
    width: 100%;
    height: 100%;
}

.beanvar section {
    margin-bottom: 8px;
    background-color: #e8bb99;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.9;
}

.beanvar span {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    font-weight: bold;
    font-style: italic;
}

.notes,
.region {
    width: 80%;
    margin: auto;
}

.bean-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
    background-color: #e8bb99;
    opacity: 0.9;
    width: 100%;
}

.bean-header span {
    margin-bottom: 0;
}

form {
    margin-top: -110px;
    padding: 15px 5px 100px;
    width: 45vw;
    position: relative;
    display: none;
    z-index: 200;
}

form h2 {
    background-color: rgba(241, 183, 111);
    color: rgb(88, 60, 60);
    padding: 5px 0;
    border-radius: 5px;
    font-style: italic;
    font-size: 28px;
    max-width: 350px;
    min-width: 250px;
    width: 60%;
    margin: 0 auto 20px;
    text-align: center;

}

form label {
    color: #e8bb99;
    margin-bottom: 5px;
    font-size: 18px;
}

form section {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

form input {
    margin-bottom: 20px;
    height: 35px;
    font-style: italic;
    color: rgb(88, 60, 60);
    font-size: 20px;
}

form textarea {
    height: 100px;
    color: rgb(88, 60, 60);
    font-size: 20px;
    resize: vertical;
    margin-bottom: 20px;
}

#formResults {
    display: none;
    border-radius: 5px;
    border: 1px solid #e8bb99;
    color: rgb(88, 60, 60);
    box-shadow: 2px 2px 10px 2px rgb(49, 49, 49);
    width: inherit;
    max-width: 400px;
    min-width: 250px;
    background-color: rgb(255, 241, 220);
    margin: auto;
    padding: 45px 20px;
    text-align: center;
    position: relative;
    bottom: 380px;
    font-size: 24px;
}

#formResults div {
    margin: 20px;
}

#formResults span {
    font-weight: bold;
    margin-right: 5px;
}

.results-header {
    font-size: 30px;
    border-bottom: 2px solid rgb(88, 60, 60);

}

#preview {
    margin-right: 6vw;
    display: none;
    position: fixed;
    z-index: 5000;
    top: 40%;
    left: 40%;
    border: 2px solid #e8bb99;
    padding: 20px;
    background-color: rgb(255, 241, 220);
    box-shadow: 2px 2px 10px 2px rgb(49, 49, 49);
    color: rgb(88, 60, 60);
    border-radius: 5px;
}

#preview p {
    font-size: 24px;
}

#preview span {
    color: rgb(154, 7, 7);
    font-weight: bold;
}

.confirmation-bttns {
    display: flex;
}